GitWebServiceConsole/Service References/GitWebService/GitWebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GitWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GitWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateGitRepositoryResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GitWebServiceResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateGitRepositoryResponse" nillable="true" type="tns:CreateGitRepositoryResponse" />
  <xs:complexType name="GitWebServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:GitWebServiceStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GitWebServiceResponse" nillable="true" type="tns:GitWebServiceResponse" />
  <xs:simpleType name="GitWebServiceStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="InvalidRequest" />
      <xs:enumeration value="ServerError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GitWebServiceStatus" nillable="true" type="tns:GitWebServiceStatus" />
</xs:schema>